  <div style="padding: 0 20px;">

      <event-detail event="event"></event-detail>
      <hr />
      <h3>Sessions</h3>
      Order by:
      <select ng-model="sortorder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
      </select>
      <select ng-model="query.level" class="input-small">
        <option value="" selected>All</option>
        <option value="introductory">Introductory</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced">Advanced</option>
      </select>

      <session-list event="event"></session-list>

    </div>
  </div>
